<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Welcome to the meeting planner!</h1>
    <p>
        This is the demo application for this course.
        <em>Django: Getting Started</em>
        on <a href="https://www.pluralsight.com">PluralSight</a>
    </p>
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="/meetings/{{meeting.id}}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %} 
    </ul>
    
</body>
</html>