{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <h1>Welcome to the meeting planner!</h1>
    <a href="{% url 'new' %}">New Meeting</a>
    <p>
        This is the demo application for this course.
        <em>Django: Getting Started</em>
        on <a href="https://www.pluralsight.com" target="_blank">PluralSight </a>
    </p>
    <img src="{% static 'website/December-2023-Calendar.webp' %}" width="500px">
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %} 
    </ul>
    <a href="{% url 'rooms' %}">Rooms List</a>

{% endblock %}